body {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -50px;
    background-color: #7B1FA2;
}

img {
    border-radius: 100%;
    border: 3px solid purple;
}

p {
    font-size: 18px
}

input {
    font-size: 18px;
    /* border: 0; */
    padding: 10px;
    border: 2px solid purple;
}

input[type="submit"] {
    background: purple;
    color: white;
    box-shadow: 0 2.5em .9em -2em #555;
}

ul>li {
    /* list-style: none; */
    display: inline-flex;
    padding-right: 10px;
    margin: 10px;
    text-decoration: none;
}

a {
    margin: 20px;
    text-decoration: none;
    color: purple;
}

#card {
    padding: 30px;
    background: #E1BEE7;
    height: 500px;
    width: 50%;
    margin: 3em auto;
    border-radius: .2em;
    border: 1px solid #000;
    box-shadow: 0 2.5em .9em -2em #555;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform .8s cubic-bezier(.63, -0.32, .4, 1.39);
}

@media screen and (max-width: 628px) and (min-width: 357px) {
    #card {
        height: 650px;
    }
}

@media screen and (max-width: 408px) {
    ul>li {
        /* list-style: none; */
        display: inline-flex;
        margin: auto;
    }
    #card {
        height: 800px;
    }
}